html {min-width:95%!important;border: 10px solid #025D14;}
body {padding:20px;text-align:left;font-size:1.2em;}
img {max-width:100%;margin-bottom:10px;}
h1 {text-align:left;margin:0;font-size:1.3em;color:3d3d3d;font-weight:normal;}
a {color:3d3d3d;}
.but {width:180px;text-align:center;padding:6px;background:#025D14;text-decoration:none;margin:0px auto;color:#fff;-webkit-border-radius: 10px;-moz-border-radius: 10px;border-radius: 10px;}